{% macro link(params) %}
    <a href="{{ params.url }}" class="global-link element--hover-1" target="{{ '_blank' if params.is_targer_black | escape }}">
        <div class="global-link__icon {{ 'no-stroke' if params.no_stroke }}">
            <svg width="20" height="20" aria-hidden="true">
                <use href="/svg/icons.svg#{{ params.icon_id }}" />
            </svg>
        </div>
        <span>{{ params.text }}</span>
    </a>
{% endmacro %}