* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, div, span {
    transition: background .2s ease;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: var(--bg-color-1);
}
a, button, h1, h2, h3, h4, h5, p, article, input, span, li, ul, img, svg {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--text-color-1);
    transition: .2s ease;
    &::selection {
        background: var(--selection-color);
        color: var(--text-color-6);
    }
}
img {
    &.img-loading {
        filter: blur(15px);
    }
    &.error {
        filter: blur(0) !important;
    }
}
h1, h2, h3, h4, h5 {
    text-wrap: balance;
}
a, button {
    position: relative;
    display: block;
    outline: #00000000 solid;
    overflow: hidden;
    &:focus-visible {
        outline: var(--bg-color-3) solid;
    }
}