---
layout: page.njk
---
<div class="image-info">
    <div class="image-info__image-conteiner">
        <div class="image-info__image-preload-conteiner" style="aspect-ratio: {{ aspect_ratio }};">
            <img src="{{ 'images/' + name }}" alt="{{ description }}" calss="image-info__image">
            <div class="image-info-actions">
                <a href="{{ 'images/' + name }}" class="image-info-actions__link element--hover-1" download="">
                    <div class="image-info-actions__icon">
                        <svg width="20" height="20" aria-hidden="true">
                            <use href="/svg/icons.svg#download" />
                        </svg>
                    </div>
                    <span>Скачать</span>
                </a>
                <a href="{{ 'images/' + name }}" class="image-info-actions__link element--hover-1" target="blank">
                    <div class="image-info-actions__icon">
                        <svg width="20" height="20" aria-hidden="true">
                            <use href="/svg/icons.svg#open-full" />
                        </svg>
                    </div>
                    <span>Открыть в новой вкладке</span>
                </a>
            </div>
        </div>
    </div>
    <div class="image-info-content {{ 'short' if aspect_ratio == '9/16' }}">
        <div class="image-info-content__info">
            <ul class="tags">
                {% for item in tags %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <div>
                {% for item in info %}
                    <div class="image-info-content__row">
                        <h3 class="image-info-content__topic">{{ item.title }}</h3>
                        <span>{{ item.value }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<section class="last-images">
    <h1>Посделние фотографии</h1>
</section>